{% load static %}

<li>
    <article class="post">
        <a style=" height: 22rem;
                    transform-origin: center;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
                    border-radius: 12px;
                    background-color: white;" 
            href="">
            <img style=" width: 7rem; height: 7rem" src="{% static "blog/images/Hiking.jpg" %}" alt="Moutain Hiking" />
            <div class="post__content">
                <h3>Mountain Hiking</h3>
                <p>There's nothing like the view you get when 
                    huking in the mountains!
                </p>
            </div>
        </a>
    </article>
</li>